In [2]:
import pandas as pd
from mysql.connector import connect, cursor
from getpass import getpass
from sqlalchemy import create_engine
import MySQLdb
import sqlite3

In [3]:
password = getpass("enter password")

In [4]:
url = "mysql://root:" + password + "@localhost/eu_verses"

In [5]:
engine = create_engine(url, echo=True)
connection = engine.connect()

2022-10-23 16:09:04,332 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-10-23 16:09:04,332 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-10-23 16:09:04,333 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-10-23 16:09:04,334 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-10-23 16:09:04,335 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-10-23 16:09:04,335 INFO sqlalchemy.engine.Engine [raw sql] ()

In [6]:
pd_verses = pd.read_sql("SELECT * FROM raw_verses", connection)

2022-10-23 16:09:04,367 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2022-10-23 16:09:04,367 INFO sqlalchemy.engine.Engine [generated in 0.00094s] ('eu_verses', 'SELECT * FROM raw_verses')
2022-10-23 16:09:04,372 INFO sqlalchemy.engine.Engine SELECT * FROM raw_verses
2022-10-23 16:09:04,373 INFO sqlalchemy.engine.Engine [raw sql] ()

In [7]:
print(pd_verses["verses"][10])

Событие - это из ряда вон:
срыв голоса на чердаке нотного ряда;
зияние между приставкой и корнем,
напиханное отрубями, словами, мятой;
спотыкание мантры о повторение;
Одновременный вид лица и затылка,
на шлифовальном станке зрения.

О - амфора для содержания - хра:
эссенция хрипа, чтобы присыпать
из ребра вытекающий,
бреющий от края до края,
пугающий, бающий, тлеющий,
К старой газете прилипший, желтеющий
Со - хрящик надломленный - бытия.

Ты пережевывал вечность во время оно:
на вкус - спирт, зерно, бумага, кислая медь,
но сегодня вкус остуствтует в опыте -
Забились небесные трубы жиром и копотью,
Тошнота наплывает ворванью к горлу,
упаси боже от такого сытого корма,
Ржа - вертится на языке - веть.

Эхо требует уха.
По - краю, открою, узнаю - вторение:
я прихожу к себе издалека -
это услуга двойного словоупотребления.
И не хватит никакого слуха, когда,
выпадая из ряда вон, в ухо входит
эха транспортный эшелон.

In [8]:
pd_verses.iloc[0:3]

,id,file_name,date_of_writing,title,verses
0,1,avva.html,2012-01-16,Авва,"\nАвва,\nзачем высыхает небо?\nПроступает соль..."
1,2,bachinichego.html,2011-02-08,Бах и ничего лишнего,"\nПятый еванглелист? Нет, работяга!\nДля него ..."
2,3,gdeyarostnej.html,2012-08-11,Где яростней тоска?,\nГде яростней тоска?\nГде можно ей упиться\nИ...

In [9]:
sqlite_connection = sqlite3.connect("eu_verses_db.sqlite")
pd_verses.to_sql("raw_verses", sqlite_connection, if_exists="replace", index=False)
sqlite_connection.close()

In [10]:
sqlite_connection = sqlite3.connect("eu_verses_db.sqlite")
df = pd.read_sql_query("SELECT * FROM raw_verses", sqlite_connection)
sqlite_connection.close()

In [11]:
df.iloc[0:3]

,id,file_name,date_of_writing,title,verses
0,1,avva.html,2012-01-16,Авва,"\nАвва,\nзачем высыхает небо?\nПроступает соль..."
1,2,bachinichego.html,2011-02-08,Бах и ничего лишнего,"\nПятый еванглелист? Нет, работяга!\nДля него ..."
2,3,gdeyarostnej.html,2012-08-11,Где яростней тоска?,\nГде яростней тоска?\nГде можно ей упиться\nИ...

In [12]:
pd_verses.iloc[0:3]

,id,file_name,date_of_writing,title,verses
0,1,avva.html,2012-01-16,Авва,"\nАвва,\nзачем высыхает небо?\nПроступает соль..."
1,2,bachinichego.html,2011-02-08,Бах и ничего лишнего,"\nПятый еванглелист? Нет, работяга!\nДля него ..."
2,3,gdeyarostnej.html,2012-08-11,Где яростней тоска?,\nГде яростней тоска?\nГде можно ей упиться\nИ...

In [13]:
file_name_json = "eu_poetry.json"
pd_verses.to_json(file_name_json)

In [21]:
pd.read_json(file_name_json)[0:3] == pd_verses[0:3]

     id  file_name  date_of_writing  title  verses
0  True       True            False   True    True
1  True       True            False   True    True
2  True       True            False   True    True