In [75]:
import pandas as pd
from mysql.connector import connect, cursor
from getpass import getpass
from sqlalchemy import create_engine
import MySQLdb

In [91]:
password = getpass("enter password")

In [92]:
url = "mysql://root:" + password + "@localhost/eu_verses"

In [93]:
engine = create_engine(url, echo=True)
connection = engine.connect()

2022-10-13 15:56:07,493 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-10-13 15:56:07,493 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-10-13 15:56:07,494 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-10-13 15:56:07,495 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-10-13 15:56:07,496 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-10-13 15:56:07,496 INFO sqlalchemy.engine.Engine [raw sql] ()

In [94]:
pd_verses = pd.read_sql("SELECT * FROM raw_verses", connection)

2022-10-13 15:56:09,947 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2022-10-13 15:56:09,949 INFO sqlalchemy.engine.Engine [generated in 0.00128s] ('eu_verses', 'SELECT * FROM raw_verses')
2022-10-13 15:56:09,952 INFO sqlalchemy.engine.Engine SELECT * FROM raw_verses
2022-10-13 15:56:09,952 INFO sqlalchemy.engine.Engine [raw sql] ()

In [95]:
pd_verses["verses"]

'\nПятый еванглелист? Нет, работяга!\nДля него земля рождала чертополох.\nВообще-то, в хозяйстве, Бах был скряга,\nНичего лишнего: орган, звук, Бог.\n\nБах был о себе скромного мнения,\nНи сага, ни эпос, так - эпизод;\nНе знал, что высота его пения\nЗвучит в октаве нагорных высот.\n\nОн марал бумагу для инструмента,\nКоторый еще не изобретен -\nЕсть в его музыке два-три момента,\nКогда человек впрямь преодолен.\n\nИз цеха творцов он был самый нищий\nДухом, а иногда и впрямь убог:\nГде хочет в медной трубе свищет,\nНичего лишнего: Бах, орган, Бог.\n'

In [ ]:
my_conn = create_engine("mysql+mysqldb://root:sql_1980@localhost/eu_verses")

In [40]:
db = connect(
    host="localhost",
    user="root",
    password=getpass("enter password"),
    database="eu_verses",
    use_pure = True
)

In [56]:
db_connector = db.cursor()
db_connector.execute("SHOW COLUMNS FROM raw_verses")

In [57]:
db_connector.fetchall()

[('id', b'int', 'NO', 'PRI', None, 'auto_increment'),
 ('file_name', b'varchar(255)', 'YES', 'UNI', None, ''),
 ('date_of_writing', b'date', 'YES', '', None, ''),
 ('title', b'tinytext', 'YES', '', None, ''),
 ('verses', b'text', 'YES', '', None, '')]

In [43]:
pd_db = pd.DataFrame(all_data_from_raw_verses)

In [19]:
pd.read_sql("SELECT * FROM raw_verses", db)

C:\Users\eugen\AppData\Local\Temp\ipykernel_3068\9836049.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("SELECT * FROM raw_verses", db)

InternalError: Unread result found